
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alkatra', cursive;
}
:root{
    --main-color: #00b4fc;
}
h1{
    color: var(--main-color);
}